{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PizzaLair 404</title>
    <!-- BOOTSTRAP CDN -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}?v=1"/>
    <script src="{% static 'js/app.js' %}?v=1"></script>
    <meta name="authors" content="Bjarki, Axel og Bjarni">
    <meta name="description" content="Pizza Application 404 RIP">
    <meta name="keywords" content="Pizza, Hungry, Affordable">
</head>
    <body>
        <p>Well.. looks like we didn't find what it is that you're look for.., 404.</p>
    </body>
</html>