{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PizzaLair</title>

    <!-- BOOTSTRAP CDN -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- JQUERY -->
    <script
          src="https://code.jquery.com/jquery-3.6.4.min.js"
          integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
          crossorigin="anonymous">
    </script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}?v=1"/>
    <script src="{% static 'js/app.js' %}?v=1"></script>

    <meta name="authors" content="Bjarki, Axel og Bjarni">
    <meta name="description" content="Pizza Application">
    <meta name="keywords" content="Pizza, Hungry, Affordable">
</head>
    <body>
        <div id="navigation">
            <!-- populate navigation bar -->
            <div id="navOffer">
                <!-- Offers -->
                <a href="/offers/" id="navOffer">
                    <img class="FireIcon" src="{% static 'img/FireIcon.png' %}" alt="Fire Icon">
                    <p>Offers</p>
                </a>
            </div>
            <div id="navMenu">
                <a href="/menu/">
                    <img class="MenuIcon" src="{% static 'img/menu_pizza_icon.png' %}" alt="Pizza Icon">
                    <p>Menu</p>
                </a>
            </div>
            <div id="navLogo">
                <a href="/">
                    <img class="PizzaLairLogo" src="{% static 'img/PizzaLairLogo.png' %}" alt="PizzaLair Logo of Pizza">
                </a>
            </div>
            <div id="navOrder">
                <a href="/order/">
                    <img class="CartIcon" src="{% static 'img/CartIcon.png' %}" alt="Image of a cart">
                    <p>Order</p>
                </a>
            </div>
            <div id="navUser">
                <a href="/user/">
                    <img class="AvatarIcon" src="{% static 'img/AvatarIcon.png' %}" alt="Small Avatar Icon">
                </a>
            </div>
            <!-- if Pizza ..-->

        </div>
        <div id="filter">
            <div id="filterSearch">
                <p>Specific pizza:</p>
                <input type="text" id="searchBar" placeholder="Pizza name..">
            </div>
            <div id="filterType">
                <p>Select type:</p>
                <select name="pizzaType" id="pizzaTypes">
                    <option value="optionSpicy">Spicy</option>
                    <option value="optionVegan">Vegan</option>
                    <option value="nothing">N/A</option>
                </select>
            </div>
            <div id="filterOrderBy">
                <p>Order by:</p>
                <select name="orderBy" id="pizzaOrderBy">
                    <option value="optionPrice">Price</option>
                    <option value="optionName">Name</option>
                    <option value="nothing">N/A</option>
                </select>
            </div>
        </div>
        <div id="contentBody">
             <!-- populate body content -->
            <div id="menu">

                {% for unit in pizza %}
                    <div class="pizza" data-name="{{ unit.name }}" data-img="{{ unit.pizza_image }}" data-id="{{ unit.id }}">
                        <p>{{ unit.name }}</p>
                        <p>{{ unit.description }}</p>
                        <img src="" alt="pizza" id="img-{{ unit.id }}">
                        <p>{{ unit.price }}$</p>
                        {% if unit.pizza_type_id %}
                            {% if unit.pizza_type_id == 1 %}
                                <p>Spicy</p>
                            {% else %}
                                <p>Vegan</p>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div id="offer">
                <!-- .... -->
                {% for unit in offer %}
                    <div class="offers" data-name="{{unit.offer_name}}" data-img="{{ unit.offer_image }}" data-id="{{ unit.id }}">
                        <p>{{ unit.offer_name }}</p>
                        <p>{{ unit.offer_price }}$</p>
                        <img src="" alt="offer(s)" id="offerimg-{{ unit.id }}">
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="footer">
            <div id="pizzaPhone">
                <img class="PhoneIcon" src="{% static 'img/PhoneIcon.png' %}" alt="Phone Icon">
                <p>123-4567</p>
            </div>
            <div id="pizzaEmail">
                <img class="EmailIcon" src="{% static 'img/EmailIcon.png' %}" alt="Email Icon">
                <p>pizzaLair@pizza.com</p>
            </div>
            <div id="pizzaAbout">
                <img class="QuestionIcon" src="{% static 'img/QuestionIcon.png' %}" alt="Question Icon">
                <p>About us</p>
            </div>
        </div>
    </body>
</html>