{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PizzaLair</title>

    <!-- BOOTSTRAP CDN -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <script src="{% static 'js/app.js' %}"></script>

    <meta name="authors" content="Bjarki, Axel og Bjarni">
    <meta name="description" content="Pizza Application">
    <meta name="keywords" content="Pizza, Hungry, Affordable">
</head>
    <body>
        <div id="navigation">
            <!-- populate navigation bar -->
        </div>
        <div id="contentBody">
            <!-- populate body content -->
        </div>
        <div id="footer">
            <div id="pizzaPhone">
                <img class="PhoneIcon" src="{% static 'img/PhoneIcon.png' %}" alt="Phone Icon">
                <p>123-4567</p>
            </div>
            <div id="pizzaEmail">
                <img class="EmailIcon" src="{% static 'img/EmailIcon.png' %}" alt="Email Icon">
                <p>pizzaLair@pizza.com</p>
            </div>
            <div id="pizzaAbout">
                <img class="QuestionIcon" src="{% static 'img/QuestionIcon.png' %}" alt="Question Icon">
                <p>About us</p>
            </div>
        </div>
    </body>
</html>