{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PizzaLair</title>
    <!-- BOOTSTRAP CDN -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <!-- JQUERY -->

<!-- DUPLICATE ENTRY FOR JQUERY
    <script 
    src="https://code.jquery.com/jquery-3.6.4.min.js" 
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" 
    crossorigin="anonymous">
    </script>
-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}?v=1"/>
    <script src="{% static 'js/app.js' %}?v=1"></script>
    <meta name="authors" content="Bjarki, Axel og Bjarni">
    <meta name="description" content="Pizza Application">
    <meta name="keywords" content="Pizza, Hungry, Affordable">
</head>
    <body data-authenticated="{{ user.is_authenticated|yesno:'true,false' }}">
        <div id="navigation">
            <!-- populate navigation bar -->
            <div id="navOffer">
                <!-- Offers -->
                <a href="/offers/" id="navOffer">
                    <img class="FireIcon" src="{% static 'img/FireIcon.png' %}" alt="Fire Icon">
                    <p>Offers</p>
                </a>
            </div>
            <div id="navMenu">
                <a href="/menu/">
                    <img class="MenuIcon" src="{% static 'img/menu_pizza_icon.png' %}" alt="Pizza Icon">
                    <p>Menu</p>
                </a>
            </div>
            <div id="navLogo">
                <a href="{% url 'root' %}">
                    <img class="PizzaLairLogo" src="{% static 'img/PizzaLairLogo.png' %}" alt="PizzaLair Logo of Pizza">
                </a>
            </div>
            <!-- Authentication required -->
                <div id="navOrder">
                    <img class="CartIcon" src="{% static 'img/CartIcon.png' %}" alt="Image of a cart">
                    <p>Order</p>
                    <p id="cartCounter">
                    </p>
                </div>
            <div id="navUser">
                {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}">
                        <img class="AvatarIcon" src="{{ user.img.url }}" alt="User Avatar">
                    </a>
                {% else %}
                    <a href="{% url 'login' %}">
                        <img src="{% static 'img/AvatarIcon.png' %}" alt="Default Avatar">
                    </a>
                {% endif %}
            </div>
            <!-- if Pizza ..-->
        </div>
        <div id="filter">
            <div id="filterSearch">
                <p>Specific pizza:</p>
                <input type="text" id="searchBar" placeholder="Pizza name..">
            </div>
            <div id="filterType">
                <p>Select type:</p>
                <select name="pizzaType" id="pizzaTypes">
                    <option value="" selected>N/A</option>
                    {% for type in pizzatype %}
                        <option value="{{ type.name_display }}">{{ type.name_display }}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="filterOrderBy">
                <p>Order by:</p>
                <select name="orderBy" id="pizzaOrderBy">
                    <option value="" selected>N/A</option>
                    <option value="Price">Price</option>
                    <option value="Name">Name</option>
                </select>
                <!-- Only visible once the user selects order by price -->
                <div id="ascOrDesc">
                    <p>Order:</p>
                    <select name="ascOrDesc" id="orderChoice">
                        <option value="Ascending" selected>Ascending</option>
                        <option value="Descending">Descending</option>
                    </select>
                </div>
            </div>
        </div>
        <div id="contentBody">
             <!-- populate body content -->
            <div id="success">
                <!-- Display success message after adding to cart -->
            </div>

             <!-- Login form -->
             {% block logincontainer %}            
             {% endblock %}



            <!-- only visible when the user clicks the cart -->
            <div id="cart">
                <!-- populate the Cart from the javascript -->
            </div>
            <p id="offerCounter"></p>
            <div id="menu">
                <!-- Populates the pizzas from the view. -->
                {% for unit in pizza_data %}

                    <!-- Dataset is created here, to be callable in the javascript -->
                    <div class="pizza" data-name="{{ unit.pizza.name }}" data-img="{{ unit.pizza.pizza_image }}"
                         data-id="{{ unit.pizza.id }}" data-type="{{ unit.pizza.pizza_type_id }}" data-price="{{ unit.pizza.price }}"
                         data-description ="{{ unit.pizza.description }}"
                         data-topping="
                         {% for topping in unit.toppings %}
                              {{ topping.name }}
                                {% if not forloop.last %},
                                {% endif %}
                              {% endfor %}
                         ">

                        <div class="imgContainer">
                            <img class="menuimg" src="" alt="pizza" id="img-{{ unit.pizza.id }}">
                        </div>

                        <div class="pizzatext">
                            <p> {{ unit.pizza.name }} </p>
                            <!-- We call the pizzatype from the view to get specific types of pizzas. -->
                            {% for type in pizzatype %}
                                {% if type.id == unit.pizza.pizza_type_id %}
                                    <div class="pizzaType" data-type="{{ type.name_display }}" data-id="{{ type.id }}">
                                        <p class="{{ type.name_display }}"> {{ type.name_display }} </p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <p>{{ unit.pizza.price }}$</p>
                    </div>
                {% endfor %}
            </div>
            <div id="offers">
                <!-- .... -->
                {% for unit in offers %}
                        <div class="offer" data-name="{{unit.offer_name}}" data-img="{{ unit.offer_image }}" data-id="{{ unit.id }}">
                        <img class="offerimg" src="" alt="offer(s)" id="offerimg-{{ unit.id }}">
                        <div class="pizzatext">
                            <p>{{ unit.offer_name }}</p>
                        </div>
                        <p>{{ unit.offer_price }}$</p>
                    </div>
                {% endfor %}
            </div>
            <div id="popularOffersTitle">
                <img id="FireIconPopular" src="{% static 'img/FireIcon.png' %}" alt="Fire Icon">
                <p class="viewPizzaText">Popular Offers</p>
            </div>
            <div id="mainMenu">
                    {% for unit in offers %}
                        {% if unit.id == 1 or unit.id == 3 or unit.id == 4 %}
                            <div class="offer" data-name="{{unit.offer_name}}" data-img="{{ unit.offer_image }}" data-id="{{ unit.id }}">
                                <img class="offerimg" src="" alt="offer(s)" id="offerimg-{{ unit.id }}">
                                <div class="pizzatext">
                                    <p>{{ unit.offer_name }}</p>
                                </div>
                                <p>{{ unit.offer_price }}$</p>
                            </div>
                        {% endif  %}
                    {% endfor %}
            </div>
            <div id="confirmModal" style="display:none">
                <div class="modal-content">
                    <h2>Confirm Offer</h2>
                    <p>Are you sure you want to select this offer?</p>
                    <div id="PizzasInTheOffer"></div>
                    <button id="confirmButton">Confirm</button>
                    <button id="cancelButton">Cancel</button>
                </div>
            </div>

        </div>
        <div class="modal fade" id="loginSignupModal" tabindex="-1" aria-labelledby="loginSignupModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginSignupModalLabel">Please log in or create an account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Please log in or create an account to proceed with checkout.
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'register' %}" class="btn btn-warning">Sign Up</a>
                        <a href="{% url 'login' %}" class="btn btn-success">Log In</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="pizzaPhone">
                <img class="PhoneIcon" src="{% static 'img/PhoneIcon.png' %}" alt="Phone Icon">
                <p>123-4567</p>
            </div>
            <div id="pizzaEmail">
                <img class="EmailIcon" src="{% static 'img/EmailIcon.png' %}" alt="Email Icon">
                <p>pizzaLair@pizza.com</p>
            </div>
            <p id="aboutUsText">
                We love making and selling pizzas. We are just three guys with a dream.
                Please make sure to enjoy the pizzas as much as we enjoy making your dinner, lunch or even breakfast!
            </p>
            <button id="pizzaAbout">
                <img class="QuestionIcon" src="{% static 'img/QuestionIcon.png' %}" alt="Question Icon">
                About us
            </button>
        </div>
    </body>
</html>