body{
	font-family: Arial, Helvetica, sans-serif;
}

#navigation {
    background: #F2EEEE;
}


/* 		personal information step		*/

#justify_logo {
	display: flex;
	justify-content: center;
}

.stepByStep {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.GoBackAStepButton {
	background: none;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 150px;
    font-size: x-large;
}

.GoBackAStepButton:hover {
	background: lavender;
}

.backArrowForSteps{
    width: 22px;
    height: 20PX;
    margin-right: 5px;
}

.Title {
	text-align: center;
	font-size: xx-large;
	font-weight: bold;
	margin-right: 200px;
}

.titleContainer {
	margin-top: 100px;
	display: flex;
	margin-bottom: 50px;
}

.form-select {
	width: 100%;
	height: 38px;
	border-radius: 5px;
}

/* 		payment step					*/

.card{
	background: black;
	color: #fff;
	width: 410px!important;
}

.paymentDiv {
	background: black;
	opacity: 95%;
}

.mrow{
	margin-top: 30px;
	margin-bottom:30px;
}
img{
	margin-right: 10px;
}
.main span:hover{
	text-decoration: underline;
	cursor: pointer;
}
.mrow img:hover{
	border-bottom: 1px solid #fff;
	cursor: pointer;
}
.btn-primary{
	border: none;
	border-radius: 30px;
}

h5{
	padding-top: 8px;
}

.form-group{
	position: relative;
	margin-bottom: 2rem;
}
.form-control-placeholder{
	position: absolute;
	top: 6px;
	padding: 12px 0 0 10px;
	transition: all 200ms;
	margin-left: 2px;
	opacity: 0.5;
	color: black;
	font-size: 75%;
}
.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder{
	font-size: 75%;
	transform: translate3d(0,-100%,0);
	opacity: 1;
	top: 10px;
}
.form-control{
	background: transparent;
	border: none;
	border-bottom: 1px solid #fff!important;
	border-radius: 0;
	outline: 0;
}
.form-control:focus,
.form-control:after{
	outline-width: 0;
	border-bottom: 1px solid #fff!important;
	background: transparent;
	box-shadow: none;
	border-radius: 0;
	color: #dae0e5;
	letter-spacing: 1px;
}

/************** Review step *****************/

#splitScreen {
	width: 100%;
    display: flex;
    flex-direction: row;
    max-width: 1500px;
}

.halfAndHalf {
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
}

.ReviewDiv {
	width: 100%;
}

.TitleSmall {
	font-size: large;
    font-weight: bold;
    text-align: center;
}

.displayInfo {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
}

#finishOrder {
    margin-top: 50px;
    font-size: larger;
    padding: 5px;
    border: 1px solid black;
    border-radius: 16px;
}

#cartAmount {
    font-size: x-large;
    font-family: cursive;
    text-align: center;
}

.pizzaCart {
    margin-top: 25px;
    color: black;
    text-align: center;
}

.offerCart {
    margin-top: 25px;
    color: black;
    text-align: center;
    list-style-position: inside;
}

#successImg {
    width: 80px;
}

#homeScreenButton {
    background: #F2EEEE;
    border-radius: 15px;
    margin-top: 80px;
    font-size: x-large;
}

/************* Footer **************/
#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #F2EEEE;
    mix-blend-mode: darken;
    color: black;
    padding: 20px 0;
    position: absolute;
    width: 95%;
    right: 2.5%;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 100;
    bottom: 0;
}

#footer div, #navigation div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#footer p {
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

#footer img.PhoneIcon {
    width:22px;
    height: 27px;
    left: 48px;
    top: 943px;
    margin-right: 10px;
}

#footer img.EmailIcon {
    width: 36px;
    height: 27px;
    left: 242px;
    top: 946px;
    margin-right: 10px;
}

#footer img.QuestionIcon {
    width: 16.77px;
    height: 27px;
    left: 804px;
    top: 943px;
    margin-right: 10px;
}

#pizzaAbout {
    font-weight: bold;
    width: fit-content;
    display: grid;
    grid-template-columns: 20% 80%;
    border: #F2EEEE;
    padding: 2px;
    border-radius: 12px;
}

#pizzaAbout:hover {
    background: white;
    border-radius: 12px;
}

p#aboutUsText {
    display: none;
    position: absolute;
    top: -110px;
    z-index: 1;
    background: lawngreen;
    padding: 8px;
    font-size: 0.8rem;
    color: black;
    border-radius: 2px;
    animation: fadeIn 0.6s;
    width: 40%;
    margin-left: 60%;
}