/* Body and main container */
html, body {
    background-color: #FFFFFF;
    height: 100%;
    margin: 0;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
}

/* Navigation Menu */
#navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #F2EEEE;
    mix-blend-mode: darken;
    color: black;
    padding: 8px 0;
    position: relative;
    width: 95%;
    right: -2.5%;
    top: 2%;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 900;
}

#navigation a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#navigation a:hover {
    text-decoration: none;
    color: inherit;
}

#navOffer, #navMenu, #navOrder {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0);
    border-radius: 10px;
    width: 120px;
    height: 53px;
}

#navOffer:hover, #navMenu:hover, #navOrder:hover {
    background: #F0E7E7;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#navigation img.FireIcon {
    width: 17px;
    height: 18.9px;
    margin-right: 4px;
    margin-bottom: 18px;
}

#navigation img.CartIcon {
    width: 20px;
    height: 18.9px;
    margin-right: 7px;
    margin-bottom: 18px;
}

#navigation img.MenuIcon {
    width: 18px;
    height: 20px;
    margin-right: 2px;
    margin-bottom: 18px;
    transform: scaleX(-1);
}

/*---------------------------------------------- Navigation END ----------------------------------------*/

/* content body */
#contentBody > div {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 95%;
    right: -2.5%;
    padding: 100px 0;
    height: 98%;
    top: 3%;
}

/* For each offer in the content body */
.offer {
    flex-basis: calc(33.33% - 20px);
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

/* For each pizza in the content body */
.pizza {
    flex-basis: calc(33.33% - 20px);
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 33%;
}

.pizzatext {
    display: flex;
    justify-content: space-between;
    height: 35px;
}

.pizzaType {
    margin-left: auto;
}

.Spicy {
    color: red;
}

.Vegan {
    color: green;
}

.imgContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: calc(100% * (100 / 175));
}

.menuimg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.offerimg {
    width: 100%;
}
/* For the Ascending or Descending div */
#ascOrDesc {
    display: flex;
    gap: 10px;
}

#popularOffersTitle {
    justify-content: center;
}

#FireIconPopular {
    width: 30px;
    margin-right: 10px;
    height: fit-content;
}

/*---------------------------------------------- ContentBody END ----------------------------------------*/

/*---------------------------------------------- View Pizza ---------------------------------------------*/

#viewPizza {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.viewPizzaImg {
    width: 50%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 25px;
    max-width: 650px;
}

.viewPizzaText {
    font-size: 1.3rem;
    font-family: cursive;
    font-style: italic;
}

#returnMenu {
    border-radius: 10px;
    height: 40px;
    width: fit-content;
    border: none;
    background: none;
    margin-right: auto;
}
.backarrow {
    scale: unset;
    width: 20px;
    height: 15px;
}

#addToCart {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    font-size: 0.8rem;
    width: fit-content;
    border: none;
    gap: 10px;
    color: white;
    background: #329C21;
    align-items: center;
}

#cartText {
    position: relative;
    top: 20%;
}

/*---------------------------------------------- View Pizza END -----------------------------------------*/

/* filter display  ONLY VISIBLE when /menu/ */
#filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #F2EEEE;
    mix-blend-mode: darken;
    color: black;
    padding: 8px 0;
    position: relative;
    width: 95%;
    right: -2.5%;
    top: 3%;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 99;
}

#filter > * {
    display:flex;
    gap: 10px;
}

/*---------------------------------------------- filter END ----------------------------------------*/


/* --------------------------------------------- Login Form ---------------------------------------- */





/* Footer */
#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #F2EEEE;
    mix-blend-mode: darken;
    color: black;
    padding: 20px 0;
    position: fixed;
    width: 95%;
    right: 2.5%;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 100;
    bottom: 0;
}

#footer div, #navigation div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#footer p {
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

#footer img.PhoneIcon {
    width:22px;
    height: 27px;
    left: 48px;
    top: 943px;
    margin-right: 10px;
}

#footer img.EmailIcon {
    width: 36px;
    height: 27px;
    left: 242px;
    top: 946px;
    margin-right: 10px;
}

#footer img.QuestionIcon {
    width: 16.77px;
    height: 27px;
    left: 804px;
    top: 943px;
    margin-right: 10px;
}

#pizzaAbout {
    font-weight: bold;
    width: fit-content;
    display: grid;
    grid-template-columns: 20% 80%;
    border: #F2EEEE;
    padding: 2px;
    border-radius: 12px;
}

#pizzaAbout:hover {
    background: white;
    border-radius: 12px;
}

p#aboutUsText {
    display: none;
    position: absolute;
    top: -110px;
    z-index: 1;
    background: lawngreen;
    padding: 8px;
    font-size: 0.8rem;
    color: black;
    border-radius: 2px;
    animation: fadeIn 0.6s;
    width: 40%;
    margin-left: 60%;
}

/* optional styling to add a "wedge" to the tooltip */
p#aboutUsText:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 60%;
  margin-left: -8px;
  border: 8px solid transparent;
  border-top: 8px solid lawngreen;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}