/* Body and main container */
html, body {
    background-color: #FFFFFF;
    height: 100%;
    margin: 0;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
}

/* Navigation Menu */
#navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #F2EEEE;
    mix-blend-mode: darken;
    color: black;
    padding: 8px 0;
    position: relative;
    width: 95%;
    right: -2.5%;
    top: 2%;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

#navigation a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#navigation a:hover {
    text-decoration: none;
    color: inherit;
}

#navOffer, #navMenu, #navOrder {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0);
    border-radius: 10px;
    width: 120px;
    height: 53px;
}

#navOffer:hover, #navMenu:hover, #navOrder:hover, .active {
    background: #F0E7E7;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 120px;
    height: 53px;
}

#navigation img.FireIcon {
    width: 17px;
    height: 18.9px;
    margin-right: 4px;
    margin-bottom: 18px;
}

#navigation img.CartIcon {
    width: 20px;
    height: 18.9px;
    margin-right: 7px;
    margin-bottom: 18px;
}

#navigation img.MenuIcon {
    width: 18px;
    height: 20px;
    margin-right: 2px;
    margin-bottom: 18px;
    transform: scaleX(-1);
}

#cartCounter {
    position: relative;
    top: 44%;
    right: 38px;
    color: red;
}

/*---------------------------------------------- Navigation END ----------------------------------------*/

/*---------------------------------------------- Confirmation modal ----------------------------------------*/

#confirmModal {
    position: fixed;
    left: 293px;
    top: 400px;
    right: 346px;
    align-content: center;
}

.modal-content {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 110%;
    pointer-events: auto;
    background-color: #fff;
}

.modal-content > * {
    text-align: center;
}

.modal-content > button {
    width: 50%;
    position: relative;
}

#confirmButton {
    margin-top: 20px;
    background: #329C21;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #FFFFFF;
}

#cancelButton {
    background: #FF2828;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #FFFFFF;
}

#modal-content {
    align-content: center;
}

/*---------------------------------------------- Confirmation modal END----------------------------------------*/


/*---------------------------------------------- CART STYLE ----------------------------------------*/

#cart {
    width: 426px;
    min-height: 50%;
    top: 14%;
    background: rgb(242, 238, 238);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    border-radius: 10px;
    position: fixed;
    z-index: 1;
    right: 40px;
    overflow-y: auto;
    max-height: 660px;
    overflow-x: hidden;
}

.cart > p {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    border-bottom: 1px solid black;
}

#emptyButton {
    position: relative;
    left: 55%;
    background: #FF2828;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #FFFFFF;
    bottom: 100%;
}

#checkoutButton {
    position: relative;
    left: 55%;
    background: #329C21;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #FFFFFF;
    bottom: 100%;
}

#minimize {
    position: relative;
    left: 92%;
    bottom: 0px;
    font-size: 3vh;
    padding: 0;
    border: none;
    background: none;
}

#minimize > img {
    width: 30px;
}

.cart > .offerCart {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #000000;
    border-bottom: 1px solid black;
}

.offerCart > p {
    position: relative;
    left: 15%;
    top: 20px;
}

.offerCart > ul {
    position: relative;
    left: 15%;
    top: 20px;
}

.cart > .pizzaCart {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #000000;
    border-bottom: 1px solid black;
}

.pizzaCart > p {
    position: relative;
    left: 15%;
}

.pizzaCart > button {
    position: relative;
    left: 85%;
    bottom: 162px;
    font-size: 3vh;
    padding: 0;
    border: none;
    background: none;
}
.offerCart > button {
    position: relative;
    left: 89%;
    bottom: 192px;
    font-size: 3vh;
    padding: 0;
    border: none;
    background: none;
}

/*---------------------------------------------- CART STYLE END----------------------------------------*/

/* content body */
#contentBody > #menu, #offers {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 95%;
    right: -2.5%;
    padding: 100px 0;
    height: 98%;
    bottom: 49px;
}

/* For each offer in the content body */
.offer {
    flex-basis: calc(33.33% - 20px);
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: #F2EEEE;
}

/* For each pizza in the content body */
.pizza {
    flex-basis: calc(33.33% - 20px);
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    background: #F2EEEE;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 33%;
}

.pizzatext {
    display: flex;
    justify-content: space-between;
    height: 35px;
}

.pizzaType {
    margin-left: auto;
}

.Spicy {
    color: red;
}

.Vegan {
    color: green;
}

.imgContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: calc(100% * (100 / 175));
}

.menuimg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.offerimg {
    width: 100%;
}
/* For the Ascending or Descending div */
#ascOrDesc {
    display: flex;
    gap: 10px;
}

#mainMenu {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 95%;
    right: -2.5%;
    padding: 100px 0;
    height: 98%;
    top: 3%;
}

#popularOffersTitle {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 95%;
    right: -2.5%;
    padding: 100px 0;
    height: 98%;
    top: 3%;
    justify-content: center;
}

#FireIconPopular {
    width: 30px;
    margin-right: 10px;
    height: fit-content;
}

#offerCounter {
    margin-top: 70px;
    margin-bottom: 0;
    text-align: center;
    font-size: 2rem;
    display: none;
}

/*---------------------------------------------- ContentBody END ----------------------------------------*/

/*---------------------------------------------- View Pizza ---------------------------------------------*/

#viewPizza {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.viewPizzaImg {
    width: 30%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 25px;
    max-width: 650px;
}

.viewPizzaText {
    font-size: 1.3rem;
    font-family: cursive;
    font-style: italic;
}

#returnMenu {
    border-radius: 10px;
    height: 40px;
    width: fit-content;
    border: none;
    background: none;
    margin-right: auto;
}
.backarrow {
    scale: unset;
    width: 20px;
    height: 15px;
}

#addToCart {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    font-size: 0.8rem;
    width: fit-content;
    border: none;
    gap: 10px;
    color: white;
    background: #329C21;
    align-items: center;
}

#cartText {
    position: relative;
    top: 20%;
}

/*---------------------------------------------- View Pizza END -----------------------------------------*/

/* filter display  ONLY VISIBLE when /menu/ */
#filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #F2EEEE;
    mix-blend-mode: darken;
    color: black;
    padding: 8px 0;
    position: relative;
    width: 95%;
    right: -2.5%;
    top: 3%;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

#filter > * {
    display:flex;
    gap: 10px;
}

/*---------------------------------------------- filter END ----------------------------------------*/


/* --------------------------------------------- Login Form ---------------------------------------- */



#LoginDiv {
    margin-top: 150px!important;
    height: 100%!important;
}

/* Footer */
#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #F2EEEE;
    color: black;
    padding: 20px 0;
    position: fixed;
    width: 95%;
    right: 2.5%;
    left: 2.5%;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 100;
    bottom: 0;
}

#footer div, #navigation div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#footer p {
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

#footer img.PhoneIcon {
    width:22px;
    height: 27px;
    left: 48px;
    top: 943px;
    margin-right: 10px;
}

#footer img.EmailIcon {
    width: 36px;
    height: 27px;
    left: 242px;
    top: 946px;
    margin-right: 10px;
}

#footer img.QuestionIcon {
    width: 16.77px;
    height: 27px;
    left: 804px;
    top: 943px;
    margin-right: 10px;
}

#pizzaAbout {
    font-weight: bold;
    width: fit-content;
    display: grid;
    grid-template-columns: 20% 80%;
    border: #F2EEEE;
    padding: 2px;
    border-radius: 12px;
}

#pizzaAbout:hover {
    background: white;
    border-radius: 12px;
}

p#aboutUsText {
    display: none;
    position: absolute;
    top: -110px;
    z-index: 1;
    background: lawngreen;
    padding: 8px;
    font-size: 0.8rem;
    color: black;
    border-radius: 2px;
    animation: fadeIn 0.6s;
    width: 40%;
    margin-left: 60%;
}

/* optional styling to add a "wedge" to the tooltip */
p#aboutUsText:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 60%;
  margin-left: -8px;
  border: 8px solid transparent;
  border-top: 8px solid lawngreen;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Custom Avatar Icon */
.AvatarIcon {
    width: 74px;
    height: 74px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* The login style */

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .form-group label {
    font-weight: bold;
  }

  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }

  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }

  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #000;
  }

  .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
    color: #000;
  }


  /* The register style*/

  .login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .form-group label {
    font-weight: bold;
  }

  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }

  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }

  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #000;
  }

  .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
    color: #000;
  }

  /* The profile style */

  .profile-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 1000px;
    position: relative;
    bottom: 117px;
  }

  #country {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 30px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

/****************************** Loading image *********************************/

#loadingCounter {
    width: 20px;
    height: 20px;
}

#loadingCart {
    width: 200px;
    height: 200px;
    position: relative;
    top: 100px;
    left: 25%;
}